* {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;

    background: linear-gradient(to bottom, #019fcf, #001b3e); 

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 900;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body::-webkit-scrollbar, .tile::-webkit-scrollbar {
    display: none;
    background: transparent
}
body, .tile {
    scrollbar-width: none;
    -ms-overflow-style: none; 
    overflow-y: scroll; 
}

.tile {
    width: 575px;
    max-height: 500px;
    border: 2px solid #52ffff;
    border-radius: 15px;
    background-color: #52ffff;
    box-shadow: 0 4px 6px #00b0e6;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tile.expanded {
    max-height: 100%;
    background: linear-gradient(to bottom, #52ffff, #001b3e);
    transition: max-height 0.3s ease-in-out, background 0.3s ease-in-out;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    width: 97%;
    padding: 20px;
    gap: 15px;
    align-items: center;
    margin-top: 60px;
    transform: translateY(-10px);
}

.tile.expanded .calculator-content {
    display: block;
}

.top-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #001b3e;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1100;
}

.sidebar-icon {
    margin: 2%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search-bar {
    margin: 2%;
    height: 75%;
    border: 1px solid gray;
    border-radius: 10px;
    width: 75%;
    text-align: center;
}

.search-icon {
    margin-right: 5%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 50%;
    height: 100%;
    background-color: #02193A;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    z-index: 1150;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    border-bottom: 2px solid #ffffff;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1125;
}

.invert {
    filter: invert(100%); 
}

@media only screen and (max-width: 1080px) {
    html, body {
        font-size: 0.8rem;
        overflow-x: hidden;
    }
    body::-webkit-scrollbar, .tile::-webkit-scrollbar {
        display: none;
        background: transparent;
        width: 0;
    }
    body, .tile {
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    .tile {
        width: 90%;
        max-height: 45px;
        margin-bottom: 0;
        margin-top: 0;
        align-self: center;
    }
    .tile::-webkit-scrollbar {
        width: 0;
    }
    .tile.expanded {
        max-height: 450px;
    }
    .top-bar {
        padding: 0 10px;
        width: 100%;
    }
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(10px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.selectable {
    user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.no-animations *, .no-animations *::before, .no-animations *::after {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
}